In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.rc('font', **{'family': 'Microsoft YaHei, SimHei'})  # 设置中文字体的支持
# 提高输出效率库
from IPython.core.interactiveshell import InteractiveShell # 实现 notebook 的多行输出
InteractiveShell.ast_node_interactivity = 'all' #默认为'last'

In [4]:
course = pd.read_csv('./2020.8.23 电商网站 AB 测试/course_page_actions.csv')
course.info(); course.sample(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4049 entries, 0 to 4048
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  4049 non-null   object
 1   id         4049 non-null   int64
 2   group      4049 non-null   object
 3   action     4049 non-null   object
 4   duration   4049 non-null   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 158.3+ KB

                       timestamp      id       group action    duration
593   2016-10-10 06:16:03.358129  603419  experiment   view  186.209675
1892  2016-11-18 12:00:41.858578  509225  experiment   view  180.209796
2198  2016-11-28 10:49:00.492320  670680     control   view  179.758267
514   2016-10-08 07:37:00.964610  418638     control   view   99.720775
2302  2016-12-01 05:09:30.768343  749962  experiment   view  149.433235

In [ ]:
    control_enroll_num = course[""]